apiVersion: v1
kind: Service
metadata:
  labels:
    id: rollout-canary
  name: app
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 5000
  selector:
    id: rollout-canary
  type: LoadBalancer
